html,
body {
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) var(--color-light);
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: var(--font-family-base);
    color: var(--color-light);
    font-weight: 400;
    background-color: var(--color-light);
}

button {
    @include reset-button;
}

h2 {
    font-size: 30px;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
    background-image: linear-gradient(to bottom, var(--color-accent), var(--color-accent-dark));
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}