:root {
    --color-accent: #46655f;
    --color-accent-dark: #223130;
    --color-light-additional: #e0af6e;
    --color-light: #e6eee6;

    --container-padding-x: 30px;
    --container-width: 1000px;
    --border-radius: 30px;

    --font-family-base: "Montserrat", sans-serif;
}